*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.parent{
    width: 100%;
    height: 100vh;
    background: url(./325.png) no-repeat center/cover;
}
.navbar{
    width: 100%;
    height: 100px;
    background: rgb(0, 255, 47);
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    
}
.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;
    align-items: center;
    margin: 10%;

}
.navbar h1{
    margin: 10%;
}
.navbar li:hover{
    color: black;
    cursor: pointer;
                   
}
.text{
    width: 500px;
    height: 200px;
    color: white;
    text-align: center;
    margin-left: 510px;
    margin-top: 100px;
}
.text h1{
    font-size: 50px;
}
.text p{
    color: rgb(2, 255, 23);
    margin-top: 20px;
    padding-left: 10px;
    font-size: 15px;
}
button{
    display: block;
    margin: auto;
    padding: 10px 25PX;
    border: none;
    border-radius: 16px 0;
    color: white;
    background: rgb(0, 255, 38);
}
button:hover{
    border-radius: 0 16px;
}
.about{
    width: 100%;
    height: 120px;
    background: rgb(3, 253, 20);
    margin-top: 170px;
    text-align: center;

}
.hr{
    border-bottom: 1px solid red;
    width: 18%;
    margin: auto;
    
}
.about p{
    margin: 10px 10%;
    
}
